# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml

# Android
android/local.properties
android/app/local.properties
android/key.properties
android/app/*.jks
android/app/*.keystore
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
**/gradle-wrapper.jar
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# iOS (future)
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
ios/.symlinks/
ios/Flutter/flutter_export_environment.sh
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
**/xcuserdata/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
